/* COLORS */

/* Nord */
@define-color light #eceff4;
@define-color dark #2e3440;
@define-color warning #ebcb8b;
@define-color critical #d08770;
@define-color mode #4c566a;
@define-color workspaces #5e81ac;
@define-color workspacesfocused #81a1c1;
@define-color sound #d8dee9;
@define-color network #4c566a;
@define-color memory #88c0d0;
@define-color cpu #434c5e;
@define-color temp #d8dee9;
@define-color tray #5e81ac;
@define-color battery #88c0d0;
@define-color time #eceff4;
@define-color battery-charging #59e959;

/* bar style */
* {
    border:        none;
    border-radius: 0;
    /* font-family:   Adwaita Sans; */
    font-family: CaskaydiaMono Nerd Font Propo;
    /* font-family:   Adwaita Sans, Roboto, Helvetica, Arial, sans-serif; */
    /*font-family: monospace;*/
    /* font-weight: Bold; */
    font-size:     17px;
    box-shadow:    none;
    text-shadow:   none;
    transition-duration: .2s;
}

button {
  all: unset;
}

label {
  all: unset;
}

window#waybar {
  color:      rgba(217, 216, 216, 1);
  background: rgba(0, 0, 0, 9);
  transition-duration: .4s;
}

window#waybar.empty {
  color:      rgba(217, 216, 216, 1);
  background: rgba(35, 31, 32, .9);
}

window#waybar.solo {
  color:      rgba(217, 216, 216, 1);
  background: rgba(35, 31, 32, 1);
}

/* module style start */
#workspaces {
    margin: 0 5px;
}

#workspaces button {
    padding:    0 5px;
    color:      rgba(217, 216, 216, 0.4);
}

#workspaces button.visible {
    color:      rgba(217, 216, 216, 1);
}

#workspaces button:hover {
    color:      rgba(35, 31, 32, 0.9);
    background: rgba(217, 216, 216, 1);
}

#workspaces button.focused {
    border-bottom: 0px solid rgba(217, 216, 216, 1);
}

#workspaces button.urgent {
    color:      rgba(238, 46, 36, 1);
}

#mode,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#idle_inhibitor,
#tray,
#custom-calculator,
#custom-calendar,
#bluetooth,
#clock{
    min-width: 12px;
    margin-right: 13px;

}

#custom-spotify_py {
    padding: 0px 6px 0px 6px;
    border-radius: 5px 5px 5px 5px;
    margin: 0px 13px 0px 0px;
    /* color: rgba(217, 216, 216, 1); */
    color: rgba(0, 0, 0, 1);
    background: rgba(255, 255, 255, 1);
    font-family: "Erbos Draco 1st Open NBP";
    font-size:     13px;
    border-left: .2px solid;
    border-right: .2px solid;
    border-top: .2px solid;
    border-bottom: .2px solid;
    border-color: rgba(0, 0, 0,1);
}

#battery.warning,
#cpu.warning,
#memory.warning {
    border-radius: 5px 5px 5px 5px;
    background: @warning;
    color:      @dark;
}

#battery.critical,
#cpu.critical,
#memory.critical {
    border-radius: 5px 5px 5px 5px;
    background: @critical;
    color:      @light;
}

#battery.charging {
    background: @battery-charging;
    color:      @dark;
}
